<!-- SECTION COVER -->
<section id="cover">
    <nav id="main-nav" class="navbar navbar-dark bg-inverse   navbar-full" >
        <h3 class="navbar-brand bold-red">Kababs.Inn</h3>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a routerLink="/cover" routerLinkActive="active" class="nav-link"> COVER</a>            
            </li>
             <li class="nav-item">
                <a routerLink="/menu" routerLinkActive="active" class="nav-link"> MENU</a>            
            </li>
             <li class="nav-item">
                <a href="#" class="nav-link"> CONTACT US</a>            
            </li>
           
             <li class="nav-item">
                <a href="#" class="nav-link "> ABOUT US</a>            
            </li>
        </ul>
        <form class="form-inline pull-sm-right">
            <input class="form-control" type="text" placeholder="Search">
            <button type="submit" class="btn btn-success-outline" >SEARCH</button>
        </form>

    </nav>
    <!--router-outlet-->
    <!--<router-outlet></router-outlet>-->
    

    <!--<img src="../../assets/img/cover.jpg">-->

    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div>
                    <h1 class="moto">TEXT</h1>
                    <!--<a href="#"><i class="fa fa-arrow-down"></i></a>-->
                </div>

                <div>
                    <p class="lead wall-sticker"><span class="text">We Provide <span class="bold-red"><strong>100%</strong></span> Food Quality</span>
                    </p>
                    <a href="#">
                        <button type="button" class="btn btn-primary btn-lg">Learn More</button>
                    </a>
                </div>
            </div>
        </div>
    </div>


</section>